.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 25px auto;
    padding: 20px 0px 20px 0px;
    min-height: 250px;
    border: #0072b1 solid 1px;
    border-radius: 15px;
}


#main-content .row{
    background-color: white;
}


.jumbotron{
    padding: 60px 30px 60px 30px;
    margin: 0px auto;
    border-radius: 0px;
    
    background-color: rgba(0, 114, 177, .95);
    color: white;
}

.jumbotron h1{
    font-size: 1.8em;
}

.address{
    font-size: 80%;
    margin: 0px auto;
    column-rule: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;

    background: url("../img/background.jpg") repeat;

    /* font-family: ; */
}

.navbar{
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, .5);
}
.navbar-dark{
    background-color:#0072b1 ;
    
}


.navbar-brand h1{
    font-size: 1.6em;
    font-family: 'Itim', cursive;}

#navbar-button{
    width: 60px;
    height: 40px;
}

#contact .modal-content .close{
    color: white;
    font-size: 200%;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#accordian h3 a{
    text-decoration: none;
}

#accordian h3 a:hover{
    color: #0072b1;
}


#accordian .card{
    margin-bottom: 10px;
}



/* Back to Top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 114, 177, .8); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 2em; /* Increase font size */
    width: 45px;
    height: 45px;
}
  
#myBtn:hover {
    background-color: rgba(0, 0, 0, .8); /* Add a dark-grey background on hover */
}

/* FAQ */
.faq-container {
    padding-top: 1em;
    padding-bottom: 1em;
    border: #0072b1 solid 1px;

}
.faq {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    color: #0072b1;

}

.faq-answer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* family and friends */
.faf-section {
    margin-bottom: 1em;
    padding: 1em;
    border: #0072b1 solid 1px;
    border-radius: 3px;
}

.bold-heading {
    font-weight: bold;
    color: #0072b1;
    font-size: large;
}

.bold{
    font-weight: bold;
}


/* Footer */

footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, .95);
    color: white;

}

.footer-section{
    padding-top: 15px;
}

footer h6{
    text-align: center;
    font-size: 1em;
}


.list-unstyled a {
    color: #0072b1;
    text-decoration: none;
}

.list-unstyled a:hover {
    color: white;
}


footer hr{
    background-color: #00acee;
    width: 90%;
}

/* NeoMorphic style Icons */
#contact-details{
    display: flex;
    justify-content: center;
}
#contact-details a{
    display: flex;
    height: 50px;
    width: 50px;
    margin: 0 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer #contact-details a{
    font-size: 22px;
    color:  #0072b1;
    transition: transform 0.5s;
    background-color: black;
    border: 1px solid #0072b1;

}

#contact-details a:hover, #contact-details a:focus{
    background-color: rgba(255, 255, 255, .8);


}

#contact-details a:hover i{
    transform: scale(0.90);
}
a:hover .fa-twitter, a:focus .fa-twitter, a:active .fa-twitter{
    color: #00acee;
}
a:hover .fa-linkedin, a:focus .fa-linkedin, a:active .fa-linkedin{
    color: #0072b1;
}
a:hover .fa-facebook , a:focus .fa-facebook, a:active .fa-facebook {
    color: #3b5998;
}

