
$background-dark: #279AF1;
$background-light:  #66B7F5;



/* Carousel */

.carousel-item{
    height: 24rem;

    img{
        position: relative;
        width: auto;
        min-height: auto;
    }
}


// Footer

footer{
    background-color: #F7F7F7;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

    hr{
        background-color: #00acee;
        width: 90%;
    }

    h3{
        text-align: center;
        font-size: 1.1em;
    }
}
